In [1]:
import pandas as pd
import numpy as np
import nltk
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix,precision_score

In [2]:
df=pd.read_csv("C:\\Users\\Ayush\\Downloads\\spam.csv", encoding='ISO-8859-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df.shape

(5572, 5)

In [4]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [5]:
null_columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"]

In [6]:
df=df.drop(columns=null_columns)
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
df.rename(columns={"v1":"target","v2":"text"},inplace=True)
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
encoder=LabelEncoder()

In [9]:
df["target"]=encoder.fit_transform(df["target"])
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [10]:
df.duplicated().sum()

403

In [11]:
df=df.drop_duplicates(keep= 'first')

In [12]:
df.duplicated().sum()

0

In [13]:
pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [14]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Ayush\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [15]:
df["no_sentence"]=df['text'].apply(lambda a:len(nltk.sent_tokenize(a)))
df.head()

C:\Users\Ayush\AppData\Local\Temp\ipykernel_3548\1819804320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["no_sentence"]=df['text'].apply(lambda a:len(nltk.sent_tokenize(a)))

   target                                               text  no_sentence
0       0  Go until jurong point, crazy.. Available only ...            2
1       0                      Ok lar... Joking wif u oni...            2
2       1  Free entry in 2 a wkly comp to win FA Cup fina...            2
3       0  U dun say so early hor... U c already then say...            1
4       0  Nah I don't think he goes to usf, he lives aro...            1

In [16]:
df["no_word"]=df['text'].apply(lambda a:len(nltk.word_tokenize(a)))
df.head()

C:\Users\Ayush\AppData\Local\Temp\ipykernel_3548\3343349383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["no_word"]=df['text'].apply(lambda a:len(nltk.word_tokenize(a)))

,target,text,no_sentence,no_word
0,0,"Go until jurong point, crazy.. Available only ...",2,24
1,0,Ok lar... Joking wif u oni...,2,8
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,2,37
3,0,U dun say so early hor... U c already then say...,1,13
4,0,"Nah I don't think he goes to usf, he lives aro...",1,15

In [17]:
df["no_character"]=df['text'].apply(len)
df.head()

C:\Users\Ayush\AppData\Local\Temp\ipykernel_3548\504335121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["no_character"]=df['text'].apply(len)

,target,text,no_sentence,no_word,no_character
0,0,"Go until jurong point, crazy.. Available only ...",2,24,111
1,0,Ok lar... Joking wif u oni...,2,8,29
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,2,37,155
3,0,U dun say so early hor... U c already then say...,1,13,49
4,0,"Nah I don't think he goes to usf, he lives aro...",1,15,61

In [18]:
# Download the stopwords
nltk.download('stopwords')
nltk.download('punkt')  # Required for nltk.word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ayush\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Ayush\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [19]:
# Initialize the PorterStemmer
p = PorterStemmer()

# Define the text transformation function
def transform_text(text):
    # Convert text to lowercase
    text = text.lower()
    # Tokenize text into words
    text = nltk.word_tokenize(text)

    # Remove non-alphanumeric tokens
    text = [t for t in text if t.isalnum()]

    # Remove stopwords and punctuation
    text = [t for t in text if t not in stopwords.words('english') and t not in string.punctuation]

    # Apply stemming
    text = [p.stem(t) for t in text]

    # Join the words back into a single string
    return " ".join(text)

# Example usage with the corrected string
transformed_text = transform_text("Special Surprise! 💖 ₹5,000 Worth Credits Added to Your Wallet!")
print(transformed_text)

special surpris worth credit ad wallet

In [20]:
df["transformed_text"]=df['text'].apply(transform_text)
df.head()

C:\Users\Ayush\AppData\Local\Temp\ipykernel_3548\1018246123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["transformed_text"]=df['text'].apply(transform_text)

,target,text,no_sentence,no_word,no_character,transformed_text
0,0,"Go until jurong point, crazy.. Available only ...",2,24,111,go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,2,8,29,ok lar joke wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,2,37,155,free entri 2 wkli comp win fa cup final tkt 21...
3,0,U dun say so early hor... U c already then say...,1,13,49,u dun say earli hor u c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",1,15,61,nah think goe usf live around though

In [21]:
cv=CountVectorizer()
tfidf=TfidfVectorizer(max_features=3000)

In [22]:
X=tfidf.fit_transform(df["transformed_text"]).toarray()

In [23]:
X.shape

(5169, 3000)

In [24]:
y=df['target'].values
y

array([0, 0, 1, ..., 0, 0, 0])

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [26]:
gnb=GaussianNB()
mnb=MultinomialNB()
bnb=BernoulliNB()

In [27]:
gnb.fit(X_train,y_train)
y_pred1=gnb.predict(X_test)
print(accuracy_score(y_test,y_pred1))
print(confusion_matrix(y_test,y_pred1))
print(precision_score(y_test,y_pred1))

0.8694390715667312
[[788 108]
 [ 27 111]]
0.5068493150684932

In [28]:
mnb.fit(X_train,y_train)
y_pred2=mnb.predict(X_test)
print(accuracy_score(y_test,y_pred2))
print(confusion_matrix(y_test,y_pred2))
print(precision_score(y_test,y_pred2))

0.9709864603481625
[[896   0]
 [ 30 108]]
1.0

In [29]:
bnb.fit(X_train,y_train)
y_pred3=bnb.predict(X_test)
print(accuracy_score(y_test,y_pred3))
print(confusion_matrix(y_test,y_pred3))
print(precision_score(y_test,y_pred3))

0.9835589941972921
[[895   1]
 [ 16 122]]
0.991869918699187

In [31]:
input_sms=input("Enter the message:")
transformed_sms=transform_text(input_sms)
vector_input=tfidf.transform([transformed_sms])
prediction=mnb.predict(vector_input)[0]
if prediction==1:
    print("this message is SPAM")
else:
    print("this message is NOT SPAM")

Enter the message: You've won a prize, gift card, or coupon, and need to click a link to claim it

this message is SPAM